/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Waiting for the Sunrise', cursive;
}

* , *::before , *::after {
    box-sizing: inherit;
    margin: 0;  
    padding: 0;
}

.main {
    background-color: #b6ad90;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 2.5fr 1fr;
}

.wrapper {
    /* border: 2px solid red; */
    display: grid;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    color: #333D29;
    font-size: 4rem;
    margin-top: 3rem;
}

.board {
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 10px #582f0e;
    width: 50rem;
    height: 50rem;
    display: grid;
}

.board div {
    border: 1px solid rgba(194, 197, 170, .2) ;
}

.buttons {
    /* border: 2px solid blue; */
    display: grid;
    justify-content: center;
}

.buttons-main {
    width: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
/* Slider */


.slider-container p {
    font-size: 2.5rem;
    color: #251303;
}

#grid-slider {
    -webkit-appearance: none;
    width: 2.5rem;
    background: #7F4F24;
    width: 80%;
    opacity: 0.7;
    transition: all .2s;
    cursor: pointer;
    border-radius: 1rem;
    margin-top: 1.5rem;
}

#grid-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background: #582F0E;
    border-radius: 1rem;
}
#grid-slider::-moz-range-thumb {
    width: 2.5rem;
    height: 2.5rem;
    
}

#grid-slider:hover {
    opacity: 1;
}

/* color input */

.color-picker label {
    font-size: 2.5rem;
    display: block;
}

#color-input {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    outline: none;
    border-radius: 5rem;
    

    
}

#color-input::-webkit-color-swatch-wrapper {
    padding: 0;

}

#color-input::-webkit-color-swatch {
    border-radius: 5rem;
    border: none;
}
